:root{
    /*Color*/
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: cornflowerblue;
    --beige-color: beige;
    --red-color: #ff0000;
    --tomato-color: tomato;
    --gray-dark-color: #909090; 
    --gray-light-color: #e0e0e0;
    /*Size*/
    --padding: 12px;
    --avatar-size: 36px;
    /*Font Size*/
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

/*CSS 초기 설정*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
button, button:focus{
    border: none;
    cursor: pointer;
    outline: none;
    background-color:transparent;
}
a{
    text-decoration: none;
}

/*여기서부터 시작*/
body{
    background-color: var(--beige-color);
}

h1{
    color: var(--blue-color);
}

.clicked{
    color: var(--tomato-color);
    transition: 1s;
}
.sexy-font{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}